/* goole fonts link */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.lato-font {
    font-family: "Lato", sans-serif;
    
  }
/* universal styles here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* default style declaration */
.text-style{
    text-decoration: none;
    color: white;
}
.color-primary{
    color: #8c8687;
}
.color-secondary{
    color: #e55473;
}
.primary-btn{
    padding: 15px 40px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #e55473;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* hero-image section start here */
.hero-image-section{
    background-color: #fceef1;
}
.hero-image-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 120px;
    padding: 50px 0px 0px 0px;
}
.hero-content-part{
    width: 500px;
}
.hero-content-part h1{
    font-size: 60px;
    font-weight: 800;
}
.hero-content-part p{
    font-size: 18px;
    margin: 20px 0px;
}
.hero-image-part{
    width: 400px;
}
.hero-image-part img{
    width: 100%;
}
/* feature section styles start here */
.feature-container{
    margin: 80px 120px;
}
.feature-content{
    text-align: center;
}
.feature-content h2{
    font-size: 40px;
    font-weight: 800;
}
.feature-content p{
    width: 500px;
    margin: 25px auto;
}
.feature-images{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 40px;
}
.feature-images .image-1{
    background-color: #f2dee7;
}
.feature-images .image-2{
    background-color: #e3ebdb;
}
.feature-images .image-3{
    background-color: #d9eff1;
}
.feature-image{
    width: 310px ;
    height: 380px;
    padding: 70px 30px 0px 30px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.feature-image img{
    width: 100%;
    height: 100%;
    
}
/* support section styles start here */
.support-cards{
    margin: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    padding: 50px 100px;
    border-radius: 8px;
}
.support-card{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 250px;
}
.support-card p{
    font-size: 14px;
    font-weight: 600;
}
.support-image{
    width: 80px;
}
.support-image img{
    width: 100%;
}
/* hot-deal section styles start here */
.hot-deal-section{
    background-color: #fef6f8;
    margin: 80px 0px;
}
.hot-deal-container{
    margin: 50px 100px ;
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: center;
    padding: 30px 0px;
}
.hot-deal-content{
    width: 500px;
}
.hot-deal-content h2{
    font-size: 35px;
    font-weight: 800;
}
.hot-deal-content p{
    margin: 20px 0px;
}
.hot-deal-image{
    width: 220px;
}
.hot-deal-image img{
    width: 100%;
}